/* CSS Reset Start */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display:block;
}
body {
    line-height:1;
}
ol, ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
img{
    max-width:100%;
    height:auto;
}
*,*::before,*::after{
    box-sizing:border-box;
}

/* Pure-form Start */
.pure-form input[type="text"],
.pure-form input[type="password"],
.pure-form input[type="email"],
.pure-form input[type="url"],
.pure-form input[type="date"],
.pure-form input[type="month"],
.pure-form input[type="time"],
.pure-form input[type="datetime"],
.pure-form input[type="datetime-local"],
.pure-form input[type="week"],
.pure-form input[type="number"],
.pure-form input[type="search"],
.pure-form input[type="tel"],
.pure-form input[type="color"],
.pure-form select,
.pure-form textarea {
    padding:0.5em 0.6em;
    display:inline-block;
    border:1px solid #ccc;
    box-shadow:inset 0 1px 3px #ddd;
    border-radius:4px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    width:200px;
    font-size:16px;
}

/* Pure-button Start */
.pure-button{
    /* Structure */
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pure-button{
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    color: #444; /* rgba not supported (IE 8) */
    color: rgba(0, 0, 0, 0.80); /* rgba supported */
    border: 1px solid #999;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
    margin:0px;
}

/* CSS Start */
body{
    font-family:Helvetica;
    color:rgb(65, 54, 54);
}
.wrap{
    position:relative;
    max-width:1200px;
    margin:0 auto;
}
header{
    border-bottom:1px solid #E8E8E8;
}
.wrapHeader{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 0px;
}
.wrapHeader h1 a{
    display:block;
    font-weight:bold;
    font-size:30px;
    color:#448899;
    text-decoration:none;
    margin-left:10px;
}
.wrapHeader ul{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.wrapHeader ul li a{
    margin:10px;
    font-size:16px;
    color:#666666;
    text-decoration:none;
    cursor:pointer;
}
.wrapHeader ul li a:hover{
    color:#448899;
}
.wrapHeader ul li .headerSignOut{
    display:none;
    margin-top:0px;
    margin-bottom:0px;
}
.signOutLi{
    display:flex;
}
@media screen and (max-width:600px){
    .wrapHeader ul li a{
        margin:7.5px;
    }
}
.banner{
    background:linear-gradient(#AADDEE, #66AABB);
}
.wrapBanner{
    display:flex;
    justify-content:space-between;
    align-items:center;
    max-width:1300px;
    margin:0 auto;
    overflow:hidden;
}
.banner .areaRight{
    padding-left:60px;
}
.banner .bannerText h2{
    font-weight:bold;
    font-size:28px;
    line-height:24px;
    display:flex;
    align-items:center;
    color:#F8F8F8;
    text-shadow:0px 0px 30px #AABBCC;
}
.banner .bannerText p{
    font-size:16px;
    line-height:13px;
    display:flex;
    align-items:center;
    color:#F8F8F8;
    margin-top:20px;
    margin-bottom:25px;
}
.banner img{
    display:block;
}
.buttonSearch{
    width:60px;
    height:48px;
    background-color:#448899;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
    margin-left:0px;
    display:block;
}
.areaRight .pure-form{
    display:flex;
}
.wrapBanner .areaRight .pure-form input[type="text"]{
    padding:15px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    font-weight:bold;
    font-size:16px;
    width:400px;
    color:#757575;
    margin:0px;
    display:inline-block;
    border:0px;
}
.buttonSearch .search{
    color:#F8F8F8;
    font-size:28px;
}
.buttonSearch:hover{
    background-color:#387180
}
.buttonSearch:focus{
    background-color:orange;
}
@media screen and (max-width:600px){
    .wrapBanner{
        flex-direction:column;
        padding:65px 20px 0px 20px;
        position:relative;
    }
    .banner .areaRight{
        padding-left:0px;
        z-index:10;
    }
    .wrapBanner img{
        width:80%;
        position:absolute;
        left:40%;
        bottom:0px;
    }
    #spotNameSearch{
        width:75%;
        margin-bottom:65px;
    }
}
.wrapSpotContent{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    padding:55px 0px 25px 0px;
    margin:0 auto;
}
.wrapSpotContent spotImageText{
    display:block;
    width:270px;
    margin:0px 15px 30px 15px;
    color:#757575;
    font-size:16px;
    border:1px solid #E8E8E8;
    box-sizing:border-box;
    border-radius:5px;
    overflow:hidden;
}
.wrapSpotContent spotImageFigure{
    display:block;
    height:160px;
    overflow:hidden;
}
.wrapSpotContent spotImageFigure img{
    display:block;
    width:100%;
    height:100%;
    object-fit:cover;
}
.wrapSpotContent spotImageText a{
    display:block;
    height:40px;
    overflow:hidden;
    font-weight:bold;
    line-height:1.5;
    padding:15px 10px 0px 10px;
    margin-bottom:20px;
    color:#757575;
    text-decoration:none;
}
.wrapSpotContent spotImageText a:hover{
    color:#448899;
}
.wrapSpotContent spotImageText spotTextMrtCat{
    display:flex;
    justify-content:space-between;
    padding:0px 10px 10px 10px;
}
.wrapSpotContent spotImageText spotTextMrtCat spotTextMrt, .wrapSpotContent spotImageText spotTextMrtCat spotTextCat{
    display:block;
}
.wrapSpotContent reply{
    margin-bottom:30px;
}
@media screen and (max-width:600px){
    .wrapSpotContent spotImageText{
        margin:0px 15px 15px 15px;
        width:100%;
    }
    .wrapSpotContent{
        padding-left:15px;
        padding-right:15px;
    }
    .wrapSpotContent spotImageFigure{
        height:200px;
    }
}
footer{
    font-weight:bold;
    font-size:16px;
    color:#FFFFFF;
    text-align:center;
    padding:40px 0px;
    background-color:#757575;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* attraction.html */
.imageDate{
    display:flex;
    justify-content:space-between;
    padding:40px 15px;
    color:#666666;
}
.imageDate .spotImage{
    display:block;
    position:relative;
    width:540px;
    height:400px;
    overflow:hidden;
    border-radius:5px;
    margin-right:30px;
}
.imageDate .spotImage img{
    display:block;
    width:100%;
    height:100%;
    object-fit:cover;
}
.arrowLeft{
    position:absolute;
    top:50%;
    left:2%;
    font-size:36px;
    color:#FFFFFF;
    opacity:0.5;
    cursor:pointer;
}
.arrowRight{
    position:absolute;
    top:50%;
    right:2%;
    font-size:36px;
    color:#FFFFFF;
    opacity:0.5;
    cursor:pointer;
}
.arrowLeft:hover, .arrowRight:hover{
    opacity:0.8;
}
.imageDate .textDate spotTextName{
    display:block;
    font-size:24px;
    line-height:24px;
    font-weight:bold;
    margin-bottom:15px;
}
.imageDate .textDate spotTextMrtCat{
    display:block;
    font-size:16px;
    line-height:16px;
    margin-bottom:20px;
}
.imageDate .textDate .date{
    width:100%;
    background-color:#E8E8E8;
    border-radius:5px;
    font-size:16px;
    padding:20px;
}
.imageDate .textDate .date h2{
    font-weight:bold;
    margin-bottom:20px;
}
.imageDate .textDate .date p{
    margin-bottom:20px;
    line-height:1.5;
}
.textDate{
    width:600px;
}
.sectionSelectDate{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    margin-bottom:20px;
}
.date .pure-form input[type="date"]{
    height:35px;
}
.textDate .date .labelTime{
    display:inline-block;
}
.borderLine{
    border:1px solid #e8e8e8;
}
@media screen and (max-width:600px){
    .imageDate{
        flex-wrap:wrap;
        padding-left:0px;
        padding-right:0px;
    }
    .imageDate .spotImage{
        width:100%;
        height:350px;
        margin-right:0px;
        margin-bottom:25px;
    }
    .imageDate .textDate{
        padding:0px 10px;
    }
    .borderLine{
        margin-left:10px;
        margin-right:10px;
    }
}
.textDesAdd{
    font-size:16px;
    line-height:1.5;
    padding:50px 10px 120px 10px;
    color:#666666;
}
.textDesAdd .description, .textDesAdd .address, .textDesAdd .transport{
    margin-bottom:25px;
}
.textDesAdd .address h4, .textDesAdd .transport h4{
    font-weight:bold;
    line-height:1.8;
}
.textDate .date .pure-button{
    margin-top:25px;
    font-size:16px;
    color:#FFFFFF;
    background-color:#448899;
    border-radius:5px;
}
.textDate .date .pure-button:hover{
    background-color:#387180;
}
@media screen and (max-width:600px){
    .textDesAdd{
        padding-left:20px;
        padding-right:20px;
    }
}

/* 註冊、登入彈跳視窗 */
.signIn, .register{
    display:none;
    width:340px;
    position:fixed;
    top:80px;
    left:50%;
    transform:translate(-170px, 0px);
    background-color: #FFFFFF;
    border-radius:6px;
    color:#666666;
    padding-bottom:15px;
    box-shadow:0px 4px 60px #AAAAAA;
}
.signIn .signInColorBar, .register .registerColorBar{
    height:10px;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    border-top-left-radius:6px;
    border-top-right-radius:6px;
}
.signIn h2, .register h2{
    font-size:24px;
    text-align:center;
    font-weight:bold;
    margin-top:15px;
}
.signIn .signInClose, .register .registerClose{
    position:absolute;
    top:17px;
    right:17px;
    border:0px;
    background-color:#FFFFFF;
    font-size:16px;
    cursor:pointer;
}
.signIn .signInClose:hover, .register .registerClose:hover{
    color:#448899;
}
.signIn .signInForm, .register .registerForm{
    margin:15px 15px 15px 15px;
}
#signInEmail, #signInPassword, #registerName, #registerEmail, #registerPassword{
    padding:15px;
    font-size:16px;
    margin-bottom:10px;
    width:100%;
}
.signIn .signInButton, .register .registerButton{
    width:100%;
    font-size:18px;
    padding:10px 0px;
    color:#FFFFFF;
    background-color:#448899;
    border-radius:5px;
}
.signIn .signInButton:hover, .register .registerButton:hover{
    background-color:#387180;
}
.signIn .signInRegister, .register .registerSignIn{
    display:flex;
    justify-content:center;
    font-size:16px;
}
.signIn .signInRegister a, .register .registerSignIn a{
    text-decoration:none;
    color:#666666;
    font-weight:bold;
}
.signIn .signInRegister a:hover, .register .registerSignIn a:hover{
    color:#448899;
    cursor:pointer;
}
.signInStatus, .registerStatus, .registerSuccess{
    display:none;
    text-align:center;
    color:rgb(211, 86, 103);
    font-size:14px;
    margin-top:15px;
}
@media screen and (max-width:600px){
    .signIn, .register{
        z-index:12;
    }
}

/* booking.html */
.wrapBooking{
    color:#666666;
    line-height:1.5;
}
.scheduled{
    padding:45px 0px 15px 100px;
}
.scheduled h4{
    font-size:20px;
    font-weight:bold;
    margin-bottom:35px;
}
.contactInformation h4, .paymentInformation h4{
    font-size:20px;
    font-weight:bold;
    margin-bottom:24px;
}
.spotScheduled{
    display:flex;
    justify-content:space-between;
    margin:25px 0px;
}
.spotScheduledData{
    display:flex;
}
.spotScheduledData figure{
    display:block;
    width:266px;
    height:200px;
    overflow:hidden;
    margin-right:25px;
    border-radius:5px;
}
.spotScheduledData figure img{
    display:block;
    width:100%;
    height:100%;
    object-fit:cover;
}
.textDiv h5 a{
    font-size:16px;
    font-weight:bold;
    color:#448899;
    text-decoration:none;
}
.textDiv h5{
    margin:10px 0px 30px 0px;
}
.textDiv h5 a:hover{
    color:#387180;
}
.spotScheduledDate, .spotScheduledTime, .spotScheduledPrice, .spotScheduledAddress{
    margin-bottom:20px;
    font-weight:bold;
}
.spotScheduledDate span, .spotScheduledTime span, .spotScheduledPrice span, .spotScheduledAddress span{
    font-weight:normal;
}
.spotScheduled .iconDelete{
    color:#666666;
    font-size:20px;
    padding:0px 10px;
    margin:10px 100px 0px 0px;
}
.spotScheduled .iconDelete:hover{
    color:#448899;
    cursor:pointer;
}
.contactInformation, .paymentInformation{
    padding:45px 0px 45px 110px;
}
.contactInformation p{
    font-size:16px;
    font-weight:bold;
}
#contactName, #contactEmail, #paymentCard, #paymentTime{
    margin-bottom:15px;
}
.contactInformation p{
    margin-top:20px;
    font-size:16px;
    font-weight:bold;
}
.wrapBooking .bookingPrice{
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    padding-right:110px;
}
.wrapBooking .bookingPrice h5{
    font-size:16px;
    font-weight:bold;
    margin:35px 0px 25px 0px;
}
.wrapBooking .bookingPrice button{
    font-size:20px;
    color:#FFFFFF;
    background-color:#448899;
    padding:10px 20px;
    margin-bottom:60px;
    border-radius:5px;
}
.wrapBooking .bookingPrice button:hover{
    background-color:#387180;
}
.noScheduled{
    font-size:16px;
    color:#666666;
}
@media screen and (max-width:600px){
    .scheduled, .contactInformation, .paymentInformation{
        padding-left:0px;
    }
    .wrapBooking .bookingPrice{
        padding-right:0px;
    }
    .wrapBooking{
        padding-left:10px;
        padding-right:10px;
    }
    .spotScheduled{
        display:block;
        margin-bottom:0px;
        position:relative;
        padding-bottom:20px;
    }
    .spotScheduledData{
        display:block;
    }
    .spotScheduledData figure{
        width:100%;
        margin-right:0px;
        margin-bottom:15px;
    }
    .spotScheduled .iconDelete{
        position:absolute;
        right:0px;
        bottom:0px;
        padding:20px 10px 15px 20px;
        margin:0px;
    }
}