<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'/>
    <link rel="stylesheet" href="/static/style.css">
    <!-- <link rel="stylesheet" href="http://54.178.32.137:3000/static/style.css"> -->
</head>
<body>
    <header>
        <div class="wrap wrapHeader">
            <h1><a href="/">台北一日遊</a></h1>
            <ul>
                <li><a onclick="headerScheduled()">預定行程</a></li>
                <li><a class="headerRegister" onclick="register()">註冊</a></li>
                <li><a class="headerSignIn" onclick="signIn()">登入</a></li>
                <li><a class="headerSignOut" onclick="signOut()">登出</a></li>
            </ul>
        </div>
    </header>
    <div class="wrap wrapBooking">
        <section class="scheduled">
            <h4>您好，  待預定的行程如下：</h4>
            <div class="spotScheduled">
                <div class="spotScheduledData">
                    <figure><img src="" alt="BookingSpotImage"></figure>
                    <div>
                        <h5></h5>
                        <p>日期:<span class="spotScheduledDate"></span></p>
                        <p>時間:<span class="spotScheduledTime"></span></p>
                        <p>費用:<span class="spotScheduledPrice"></span></p>
                        <p>地點:<span class="spotScheduledLocation"></span></p>
                    </div>
                </div>
                <i class="fas fa-trash-alt iconDelete"></i>
            </div>
        </section>
        <hr class="borderLine">
        <section class="contactInformation">
            <h4>您的聯絡資訊</h4>
            <div action="" class="pure-form">
                <label for="contactName">聯絡姓名：</label>
                <input type="text" name="contactName" id="contactName" placeholder="Jamie Kuan">
                <br>
                <label for="contactEmail">聯絡信箱：</label>
                <input type="email" name="contactEmail" id="contactEmail" placeholder="taipei2021@gmail.com">
                <br>
                <label for="contactPhone">手機號碼：</label>
                <input type="tel" name="contactPhone" id="contactPhone" placeholder="0987654321">
            </div>
            <p>請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</p>
        </section>
        <hr class="borderLine">
        <section class="paymentInformation">
            <h4>信用卡付款資訊</h4>
            <div class="pure-form">
                <label for="paymentCard">卡片號碼：</label>
                <input type="password" name="paymentCard" id="paymentCard" placeholder="**** **** **** ****">
                <br>
                <label for="paymentTime">過期時間：</label>
                <input type="month" name="paymentTime" id="paymentTime" placeholder="MM / YY">
                <br>
                <label for="paymentPassword">驗證密碼：</label>
                <input type="number" name="paymentPassword" id="paymentPassword" placeholder="CVV">
            </div>
        </section>
        <hr class="borderLine">
        <section class="bookingPrice">
            <h5>總價：新台幣 <span class="tripPrice"></span> 元</h5>
            <button class="pure-button">確認訂購並付款</button>
        </section>
    </div>
    <footer class="spotFooter">
        <h3>COPYRIGHT <i class="far fa-copyright"></i> 2021 台北一日遊</h3>
    </footer>
    <div class="signIn">
        <div class="signInColorBar"></div>
        <h2>登入會員帳號</h2>
        <button class="signInClose" onclick="signInClose()">X</button>
        <form class="pure-form signInForm" action="/api/user" method="PATCH">
            <input type="email" name="signInEmail" id="signInEmail" placeholder="輸入電子信箱">
            <input type="password" name="signInPassword" id="signInPassword" placeholder="輸入密碼">
            <!-- <button class="pure-button signInButton" onclick="signInStatus()">登入帳戶</button> -->
            <submit class="pure-button signInButton" onclick="signInStatus()">登入帳戶</submit>
        </form>
        <div class="signInRegister">
            <p>還沒有帳戶？</p>
            <h3><a onclick="switchRegister()">點此註冊</a></h3>
        </div>
        <p class="signInStatus">- 信箱或密碼錯誤 -</p>
    </div>
    <div class="register">
        <div class="registerColorBar"></div>
        <h2>註冊會員帳號</h2>
        <button class="registerClose" onclick="registerClose()">X</button>
        <form class="pure-form registerForm" action="/api/user" method="POST">
            <input type="text" name="registerName" id="registerName" placeholder="輸入姓名">
            <input type="email" name="registerEmail" id="registerEmail" placeholder="輸入電子信箱">
            <input type="password" name="registerPassword" id="registerPassword" placeholder="輸入密碼">
            <!-- <button class="pure-button registerButton">註冊新帳戶</button> -->
            <submit class="pure-button registerButton" onclick="registerStatus()">註冊新帳戶</submit>
        </form>
        <div class="registerSignIn">
            <p>已經有帳戶了？</p>
            <h3><a onclick="switchSignIn()">點此登入</a></h3>
        </div>
        <p class="registerStatus">- 格式錯誤或信箱已被註冊 -</p>
        <p class="registerSuccess">- 註冊成功 -</p>
    </div>
    <script type="text/javascript">
        // HomePage Onload
        // console.log(typeof(location.pathname))
        var spotImageData;
        var spot=new XMLHttpRequest();
        spot.open("GET","/api/booking",true);

        spot.onload=function(){
            fetch(`/api/user`,{
                method:"GET"
            })
            .then(function(response){
                response.json().then(function(data){
                    console.log(data);
                    if (data.data != null){
                        showHeaderRegister=document.querySelector(".headerRegister").style.display="none";
                        showHeaderSignIn=document.querySelector(".headerSignIn").style.display="none";
                        showHeaderSignOut=document.querySelector(".headerSignOut").style.display="block";
                    };
                })
            })
            var spotData=JSON.parse(this.responseText);

            console.log(spotData)
            // // spotImage
            // document.getElementsByClassName("spotImg")[0].setAttribute("src", spotData.data.images[0]);
            // spotImageData=spotData.data.images;
            // console.log(spotImageData);

            // // spotTextName
            // var spotTexts=spotData.data.name;
            // var spotTextName=document.createElement("spotTextName");
            // spotTextName.textContent=spotTexts;
            
            // document.getElementsByClassName("text")[0].appendChild(spotTextName);

            // // spotTextMrtCat
            // var spotTextMrtCat=document.createElement("spotTextMrtCat");
            // spotTextMrtCat.textContent=spotData.data.category+" at "+spotData.data.mrt

            // document.getElementsByClassName("text")[0].appendChild(spotTextMrtCat);

            // // spotData
            // document.getElementsByClassName("description")[0].textContent=spotData.data.description;

            // var spotTextAddress=document.createElement("spotTextAddress");
            // spotTextAddress.textContent=spotData.data.address;
            // document.getElementsByClassName("address")[0].appendChild(spotTextAddress);

            // var spotTextTransport=document.createElement("spotTextTransport");
            // spotTextTransport.textContent=spotData.data.transport;
            // document.getElementsByClassName("transport")[0].appendChild(spotTextTransport);
        };
        spot.send();
        
        // SignOut Onclick
        function signOut(){
            fetch(`/api/user`,{
                method:"DELETE"
            })
            .then(function(response){
                response.json().then(function(data){
                    console.log(data);
                    if (data.ok == true){
                        showHeaderRegister=document.querySelector(".headerRegister").style.display="block";
                        showHeaderSignIn=document.querySelector(".headerSignIn").style.display="block";
                        showHeaderSignOut=document.querySelector(".headerSignOut").style.display="none";
                    };
                    window.location.href="/"
                })
            })
        };
    </script>
</body>
</html>