<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'/>
    <link rel="stylesheet" href="http://54.178.32.137:3000/static/style.css">
</head>
<body>
    <header>
        <div class="wrap wrapHeader">
            <h1><a href="#">台北一日遊</a></h1>
            <ul>
                <li><a href="#">預定行程</a></li>
                <li><a class="headerRegister" onclick="register()">註冊</a></li>
                <li><a class="headerSignIn" onclick="signIn()">登入</a></li>
                <li><a class="headerSignOut" onclick="signOut()">登出</a></li>
            </ul>
        </div>
    </header>
    <section class="banner">
        <div class="wrapBanner">
            <div class="areaRight">
                <div class="bannerText">
                    <h2>輕鬆享受台北一日悠閒</h2>
                    <p>探索每個角落，體驗城市的深度旅遊行程</p>
                </div>
                <div class="pure-form" action="">
                    <input type="text" id="spotNameSearch" name="keyword" placeholder="輸入景點名稱查詢" value="">
                    <button class="pure-button buttonSearch" onclick="spotNameKeyword()"><i class="fas fa-search search"></i></button>
                </div>
            </div>
            <img src="http://54.178.32.137:3000/static/images/welcome 1.png" alt="Welcome">
        </div>
    </section>
    <section class="spotContent">
        <div class="wrap wrapSpotContent"></div>
    </section>
    <footer class="spotFooter">
        <h3>COPYRIGHT <i class="far fa-copyright"></i> 2021 台北一日遊</h3>
    </footer>
    <div class="signIn">
        <div class="signInColorBar"></div>
        <h2>登入會員帳號</h2>
        <button class="signInClose" onclick="signInClose()">X</button>
        <form class="pure-form signInForm" action="/api/user" method="PATCH">
            <input type="email" name="signInEmail" id="signInEmail" placeholder="輸入電子信箱">
            <input type="password" name="signInPassword" id="signInPassword" placeholder="輸入密碼">
            <!-- <button class="pure-button signInButton" onclick="signInStatus()">登入帳戶</button> -->
            <submit class="pure-button signInButton" onclick="signInStatus()">登入帳戶</submit>
        </form>
        <div class="signInRegister">
            <p>還沒有帳戶？</p>
            <h3><a onclick="switchRegister()">點此註冊</a></h3>
        </div>
        <p class="signInStatus">- 信箱或密碼錯誤 -</p>
    </div>
    <div class="register">
        <div class="registerColorBar"></div>
        <h2>註冊會員帳號</h2>
        <button class="registerClose" onclick="registerClose()">X</button>
        <form class="pure-form registerForm" action="/api/user" method="POST">
            <input type="text" name="registerName" id="registerName" placeholder="輸入姓名">
            <input type="email" name="registerEmail" id="registerEmail" placeholder="輸入電子信箱">
            <input type="password" name="registerPassword" id="registerPassword" placeholder="輸入密碼">
            <!-- <button class="pure-button registerButton">註冊新帳戶</button> -->
            <submit class="pure-button registerButton" onclick="registerStatus()">註冊新帳戶</submit>
        </form>
        <div class="registerSignIn">
            <p>已經有帳戶了？</p>
            <h3><a onclick="switchSignIn()">點此登入</a></h3>
        </div>
        <p class="registerStatus">- 格式錯誤或信箱已被註冊 -</p>
        <p class="registerSuccess">- 註冊成功 -</p>
    </div>
    <script type="text/javascript">
        // HomePage Onload
        var spot=new XMLHttpRequest();
        spot.open("GET","/api/attractions",true);
        spot.onload=function(){
            var userData={
                signInEmail:signInEmail.value,
                signInPassword:signInPassword.value
            }
            fetch(`/api/user`,{
                method:"GET"
            })
            .then(function(response){
                response.json().then(function(data){
                    console.log(data);
                    if (data.data != null){
                        showHeaderRegister=document.querySelector(".headerRegister").style.display="none";
                        showHeaderSignIn=document.querySelector(".headerSignIn").style.display="none";
                        showHeaderSignOut=document.querySelector(".headerSignOut").style.display="block";
                    };
                })
            })
            var spotData=JSON.parse(this.responseText);
            for (var displayQuantity=0; displayQuantity<12; displayQuantity++){
                var spotImageText=document.createElement("spotImageText");

                // spotImage
                var spotImageFigure=document.createElement("spotImageFigure")
                var spotImages=spotData.data[displayQuantity].images[0];
                var spotImage=document.createElement("img");
                spotImage.setAttribute("src", spotImages);

                document.getElementsByClassName("wrapSpotContent")[0].appendChild(spotImageText).appendChild(spotImageFigure).appendChild(spotImage);

                // spotTextName
                var spotTexts=spotData.data[displayQuantity].name;
                var spotTextName=document.createElement("a");
                spotTextName.textContent=spotTexts;
                spotTextName.setAttribute("href", "/attraction/"+spotData.data[displayQuantity].id);
                spotTextName.setAttribute("title", spotData.data.name);

                spotImageText.appendChild(spotTextName);

                // spotTextMrtCat
                var spotTextMrtCat=document.createElement("spotTextMrtCat");

                var spotTextMrts=spotData.data[displayQuantity].mrt;
                var spotTextMrt=document.createElement("spotTextMrt");
                spotTextMrt.textContent=spotTextMrts;
                spotTextMrtCat.appendChild(spotTextMrt);

                var spotTextCats=spotData.data[displayQuantity].category;
                var spotTextCat=document.createElement("spotTextCat");
                spotTextCat.textContent=spotTextCats;
                spotTextMrtCat.appendChild(spotTextCat);

                spotImageText.appendChild(spotTextMrtCat);
            };
        };
        spot.send();
        var page=0;
        var spotFooter=document.getElementsByClassName("spotFooter")[0];
        var options={
            threshold:1,
            rootMargin:"-150px 0px 150px 0px"
        };
        
        // SearchButton Onclick
        function spotNameKeyword(){
            var spotNameSearch=document.getElementById("spotNameSearch").value;
            fetch(`/api/attractions?keyword=`+spotNameSearch,).then(function(response){
                observer.disconnect(spotFooter);
                if (response.status !== 200){
                    console.log("Response status was not 200");
                    return ;
                }
                response.json().then(function(data){
                    document.getElementsByClassName("wrapSpotContent")[0].innerHTML="";
                    if (data.data === null){
                        var reply=document.createElement("reply");
                        reply.textContent="No related attractions.";
                        document.getElementsByClassName("wrapSpotContent")[0].appendChild(reply);
                    }
                    for (var resetDisplayQuantity=0;resetDisplayQuantity<12;resetDisplayQuantity++){
                        var spotImageText=document.createElement("spotImageText");
                        
                        // spotImage
                        var spotImageFigure=document.createElement("spotImageFigure");
                        var spotImages=data.data[resetDisplayQuantity].images[0];
                        var spotImage=document.createElement("img");
                        spotImage.setAttribute("src", spotImages);

                        document.getElementsByClassName("wrapSpotContent")[0].appendChild(spotImageText).appendChild(spotImageFigure).appendChild(spotImage);

                        // spotTextName
                        var spotTexts=data.data[resetDisplayQuantity].name;
                        var spotTextName=document.createElement("a");
                        spotTextName.textContent=spotTexts;
                        spotTextName.setAttribute("href", "/attraction/"+data.data[resetDisplayQuantity].id);
                        spotTextName.setAttribute("title", data.data[resetDisplayQuantity].name);

                        spotImageText.appendChild(spotTextName);

                        // spotTextMrtCat
                        var spotTextMrtCat=document.createElement("spotTextMrtCat");
                        var spotTextMrts=data.data[resetDisplayQuantity].mrt;
                        var spotTextMrt=document.createElement("spotTextMrt");
                        spotTextMrt.textContent=spotTextMrts;
                        spotTextMrtCat.appendChild(spotTextMrt);

                        var spotTextCats=data.data[resetDisplayQuantity].category;
                        var spotTextCat=document.createElement("spotTextCat");
                        spotTextCat.textContent=spotTextCats;
                        spotTextMrtCat.appendChild(spotTextCat);

                        spotImageText.appendChild(spotTextMrtCat);
                    };
                    // SearchButton Onclick InfiniteScroll
                    page=0;
                    var spotFooter=document.getElementsByClassName("spotFooter")[0];
                    var observer=new IntersectionObserver(function(entries, observer){
                        entries.forEach(entry => {
                            if (entry.isIntersecting == true){
                                var resetSpot=new XMLHttpRequest();
                                page++;
                                resetSpot.open("GET","/api/attractions?page="+String(page)+"&keyword="+spotNameSearch,true);
                                resetSpot.onload=function(){
                                    spotData=JSON.parse(resetSpot.responseText);
                                    for (var displayQuantity=0; displayQuantity<12; displayQuantity++){
                                        if (spotData.data[displayQuantity] == null){
                                            observer.disconnect(spotFooter);
                                        };
                                        var spotImageText=document.createElement("spotImageText");

                                        // spotImage
                                        var spotImageFigure=document.createElement("spotImageFigure");
                                        var spotImages=spotData.data[displayQuantity].images[0];
                                        var spotImage=document.createElement("img");
                                        spotImage.setAttribute("src", spotImages);

                                        document.getElementsByClassName("wrapSpotContent")[0].appendChild(spotImageText).appendChild(spotImageFigure).appendChild(spotImage);

                                        // spotTextName
                                        var spotTexts=spotData.data[displayQuantity].name;
                                        var spotTextName=document.createElement("a");
                                        spotTextName.textContent=spotTexts;
                                        spotTextName.setAttribute("href", "/attraction/"+spotData.data[displayQuantity].id);
                                        spotTextName.setAttribute("title", spotData.data[displayQuantity].name)

                                        spotImageText.appendChild(spotTextName);

                                        // spotTextMrtCat
                                        var spotTextMrtCat=document.createElement("spotTextMrtCat");

                                        var spotTextMrts=spotData.data[displayQuantity].mrt;
                                        var spotTextMrt=document.createElement("spotTextMrt");
                                        spotTextMrt.textContent=spotTextMrts;
                                        spotTextMrtCat.appendChild(spotTextMrt);

                                        var spotTextCats=spotData.data[displayQuantity].category;
                                        var spotTextCat=document.createElement("spotTextCat");
                                        spotTextCat.textContent=spotTextCats;
                                        spotTextMrtCat.appendChild(spotTextCat);

                                        spotImageText.appendChild(spotTextMrtCat);
                                    };     
                                    console.log(data.nextPage);
                                };
                                resetSpot.send();
                            };
                        })
                    }, options);
                    observer.observe(spotFooter);
                });
            });
        };
        
        // InfiniteScroll
        var observer=new IntersectionObserver(function(entries, observer){
            entries.forEach(entry => {
                if (entry.isIntersecting == true){
                    var spots=new XMLHttpRequest();
                    page++;
                    spots.open("GET","/api/attractions?page="+String(page),true);
                    spots.onload=function(){
                        spotData=JSON.parse(spots.responseText);
                        for (var displayQuantity=0; displayQuantity<12; displayQuantity++){
                            if (spotData.data[displayQuantity] == null){
                                observer.disconnect(spotFooter);
                            };
                            var spotImageText=document.createElement("spotImageText");

                            // spotImage
                            var spotImageFigure=document.createElement("spotImageFigure")
                            var spotImages=spotData.data[displayQuantity].images[0];
                            var spotImage=document.createElement("img");
                            spotImage.setAttribute("src", spotImages);

                            document.getElementsByClassName("wrapSpotContent")[0].appendChild(spotImageText).appendChild(spotImageFigure).appendChild(spotImage);

                            // spotTextName
                            var spotTexts=spotData.data[displayQuantity].name;
                            var spotTextName=document.createElement("a");
                            spotTextName.textContent=spotTexts;
                            spotTextName.setAttribute("href", "/attraction/"+spotData.data[displayQuantity].id);
                            spotTextName.setAttribute("title", spotData.data[displayQuantity].name);

                            spotImageText.appendChild(spotTextName);

                            // spotTextMrtCat
                            var spotTextMrtCat=document.createElement("spotTextMrtCat");

                            var spotTextMrts=spotData.data[displayQuantity].mrt;
                            var spotTextMrt=document.createElement("spotTextMrt");
                            spotTextMrt.textContent=spotTextMrts;
                            spotTextMrtCat.appendChild(spotTextMrt);

                            var spotTextCats=spotData.data[displayQuantity].category;
                            var spotTextCat=document.createElement("spotTextCat");
                            spotTextCat.textContent=spotTextCats;
                            spotTextMrtCat.appendChild(spotTextCat);

                            spotImageText.appendChild(spotTextMrtCat);
                        };
                    };
                    spots.send();
                };
            });
        }, options);
        observer.observe(spotFooter);

        // SignIn Onclick、Register Onclick
        var showSignIn;
        function signIn(){
            showSignIn=document.querySelector(".signIn").style.display="block";
            showRegister=document.querySelector(".register").style.display="none";
            showSignInError=document.querySelector(".signInStatus").style.display="none";
        };
        var showRegister;
        function register(){
            showRegister=document.querySelector(".register").style.display="block";
            showSignIn=document.querySelector(".signIn").style.display="none";
            showRegsiterError=document.querySelector(".registerStatus").style.display="none";
            showRegisterSuccess=document.querySelector(".registerSuccess").style.display="none";
        };

        // SignInClose Onclick、RigisterClose Onclick
        function signInClose(){
            showSignIn=document.querySelector(".signIn").style.display="none";
            showSignInError=document.querySelector(".signInStatus").style.display="none";
        };
        function registerClose(){
            showRegister=document.querySelector(".register").style.display="none";
            showRegsiterError=document.querySelector(".registerStatus").style.display="none";
            showRegisterSuccess=document.querySelector(".registerSuccess").style.display="none";
        };

        // SwitchRegister Onclick、SwitchSignIn Onclick
        function switchRegister(){
            showSignIn=document.querySelector(".signIn").style.display="none";
            showRegister=document.querySelector(".register").style.display="block";
            showRegsiterError=document.querySelector(".registerStatus").style.display="none";
        };
        function switchSignIn(){
            showRegister=document.querySelector(".register").style.display="none";
            showSignIn=document.querySelector(".signIn").style.display="block";
            showSignInError=document.querySelector(".signInStatus").style.display="none";
            showRegisterSuccess=document.querySelector(".registerSuccess").style.display="none";
        };

        // SignInStatus Onclick、RegisterStatus Onclick
        function signInStatus(){
            showSignInError=document.querySelector(".signInStatus").style.display="none";
            var signInEmail=document.getElementById("signInEmail");
            var signInPassword=document.getElementById("signInPassword");
            var userData={
                signInEmail:signInEmail.value,
                signInPassword:signInPassword.value
            }
            fetch(`/api/user`,{
                method:"PATCH",
                credentials:"include",
                body:JSON.stringify(userData),
                cache:"no-cache",
                headers:new Headers({
                    "content-type":"application/json"
                })
            })
            .then(function(response){
                if (response.status !== 200){
                    console.log("Response status was not 200");
                    console.log("Hello")
                    showSignInError=document.querySelector(".signInStatus").style.display="block";
                    return ;
                };
                response.json().then(function(data){
                    // console.log(data);
                    window.location.replace(location.href);
                })
            })
        };
        function registerStatus(){
            showRegsiterError=document.querySelector(".registerStatus").style.display="none";
            var registerName=document.getElementById("registerName");
            var registerEmail=document.getElementById("registerEmail");
            var registerPassword=document.getElementById("registerPassword");
            var userData={
                registerName:registerName.value,
                registerEmail:registerEmail.value,
                registerPassword:registerPassword.value
            }
            fetch(`/api/user`,{
                method:"POST",
                credentials:"include",
                body:JSON.stringify(userData),
                cache:"no-cache",
                headers:new Headers({
                    "content-type":"application/json"
                })
            })
            .then(function(response){
                if (response.status !== 200){
                    console.log("Response status was not 200");
                    showRegsiterError=document.querySelector(".registerStatus").style.display="block";
                    showRegisterSuccess=document.querySelector(".registerSuccess").style.display="none";
                    return ;
                };
                response.json().then(function(data){
                    showRegisterSuccess=document.querySelector(".registerSuccess").style.display="block";
                })
            })
        };

        // SignOut Onclick
        function signOut(){
            fetch(`/api/user`,{
                method:"DELETE"
            })
            .then(function(response){
                response.json().then(function(data){
                    console.log(data);
                    if (data.ok == true){
                        showHeaderRegister=document.querySelector(".headerRegister").style.display="block";
                        showHeaderSignIn=document.querySelector(".headerSignIn").style.display="block";
                        showHeaderSignOut=document.querySelector(".headerSignOut").style.display="none";
                    };
                })
            })
        };
    </script>
</body>
</html>
