<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'/>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <div class="wrap wrapHeader">
            <h1><a href="#">台北一日遊</a></h1>
            <ul>
                <li><a href="#">預定行程</a></li>
                <li><a href="#">註冊</a></li>
                <li><a href="#">登入</a></li>
            </ul>
        </div>
    </header>
    <section class="banner">
        <div class="wrapBanner">
            <div class="areaRight">
                <div class="bannerText">
                    <h2>輕鬆享受台北一日悠閒</h2>
                    <p>探索每個角落，體驗城市的深度旅遊行程</p>
                </div>
                <div class="pure-form" action="">
                    <input type="text" id="spotNameSearch" name="keyword" placeholder="輸入景點名稱查詢" value="">
                    <button class="pure-button buttonSearch" onclick="spotNameKeyword()"><i class="fas fa-search search"></i></button>
                </div>
            </div>
            <img src="/static/images/welcome 1.png" alt="Welcome">
        </div>
    </section>
    <section class="spotContent">
        <div class="wrap wrapSpotContent"></div>
    </section>
    <footer class="spotFooter">
        <h3>COPYRIGHT <i class="far fa-copyright"></i> 2021 台北一日遊</h3>
    </footer>
    <script type="text/javascript">
        // HomePage Onload
        var spot=new XMLHttpRequest();
        spot.open("GET","/api/attractions",true);
        spot.onload=function(){
            var spotData=JSON.parse(this.responseText);
            for (var displayQuantity=0; displayQuantity<12; displayQuantity++){
                var spotImageText=document.createElement("spotImageText");

                // spotImage
                var spotImageFigure=document.createElement("spotImageFigure")
                var spotImages=spotData.data[displayQuantity].images[0];
                var spotImage=document.createElement("img");
                spotImage.setAttribute("src", spotImages);

                document.getElementsByClassName("wrapSpotContent")[0].appendChild(spotImageText).appendChild(spotImageFigure).appendChild(spotImage);

                // spotTextName
                var spotTexts=spotData.data[displayQuantity].name;
                var spotTextName=document.createElement("spotTextName");
                spotTextName.textContent=spotTexts;

                spotImageText.appendChild(spotTextName);

                // spotTextMrtCat
                var spotTextMrtCat=document.createElement("spotTextMrtCat");

                var spotTextMrts=spotData.data[displayQuantity].mrt;
                var spotTextMrt=document.createElement("spotTextMrt");
                spotTextMrt.textContent=spotTextMrts;
                spotTextMrtCat.appendChild(spotTextMrt);

                var spotTextCats=spotData.data[displayQuantity].category;
                var spotTextCat=document.createElement("spotTextCat");
                spotTextCat.textContent=spotTextCats;
                spotTextMrtCat.appendChild(spotTextCat);

                spotImageText.appendChild(spotTextMrtCat);
            };
        };
        spot.send();
        var page=0;
        var spotFooter=document.getElementsByClassName("spotFooter")[0];
        var options={
            threshold:1,
            rootMargin:"-150px 0px 150px 0px"
        };
        
        // SearchButton Onclick
        function spotNameKeyword(){
            var spotNameSearch=document.getElementById("spotNameSearch").value;
            fetch(`/api/attractions?keyword=`+spotNameSearch,).then(function(response){
                observer.disconnect(spotFooter);
                if (response.status !== 200){
                    console.log("Response status was not 200");
                    return ;
                }
                response.json().then(function(data){
                    document.getElementsByClassName("wrapSpotContent")[0].innerHTML="";
                    if (data.data === null){
                        var reply=document.createElement("reply");
                        reply.textContent="No related attractions.";
                        document.getElementsByClassName("wrapSpotContent")[0].appendChild(reply);
                    }
                    for (var resetDisplayQuantity=0;resetDisplayQuantity<12;resetDisplayQuantity++){
                        var spotImageText=document.createElement("spotImageText");
                        
                        // spotImage
                        var spotImageFigure=document.createElement("spotImageFigure");
                        var spotImages=data.data[resetDisplayQuantity].images[0];
                        var spotImage=document.createElement("img");
                        spotImage.setAttribute("src", spotImages);

                        document.getElementsByClassName("wrapSpotContent")[0].appendChild(spotImageText).appendChild(spotImageFigure).appendChild(spotImage);

                        // spotTextName
                        var spotTexts=data.data[resetDisplayQuantity].name;
                        var spotTextName=document.createElement("spotTextName");
                        spotTextName.textContent=spotTexts;

                        spotImageText.appendChild(spotTextName);

                        // spotTextMrtCat
                        var spotTextMrtCat=document.createElement("spotTextMrtCat");
                        var spotTextMrts=data.data[resetDisplayQuantity].mrt;
                        var spotTextMrt=document.createElement("spotTextMrt");
                        spotTextMrt.textContent=spotTextMrts;
                        spotTextMrtCat.appendChild(spotTextMrt);

                        var spotTextCats=data.data[resetDisplayQuantity].category;
                        var spotTextCat=document.createElement("spotTextCat");
                        spotTextCat.textContent=spotTextCats;
                        spotTextMrtCat.appendChild(spotTextCat);

                        spotImageText.appendChild(spotTextMrtCat);
                    };
                    // SearchButton Onclick InfiniteScroll
                    page=0;
                    var spotFooter=document.getElementsByClassName("spotFooter")[0];
                    var observer=new IntersectionObserver(function(entries, observer){
                        entries.forEach(entry => {
                            var resetSpot=new XMLHttpRequest();
                            page++;
                            resetSpot.open("GET","/api/attractions?page="+String(page)+"&keyword="+spotNameSearch,true);
                            resetSpot.onload=function(){
                                spotData=JSON.parse(resetSpot.responseText);
                                for (var displayQuantity=0; displayQuantity<12; displayQuantity++){
                                    var spotImageText=document.createElement("spotImageText");

                                    // spotImage
                                    var spotImageFigure=document.createElement("spotImageFigure");
                                    var spotImages=spotData.data[displayQuantity].images[0];
                                    var spotImage=document.createElement("img");
                                    spotImage.setAttribute("src", spotImages);

                                    document.getElementsByClassName("wrapSpotContent")[0].appendChild(spotImageText).appendChild(spotImageFigure).appendChild(spotImage);

                                    // spotTextName
                                    var spotTexts=spotData.data[displayQuantity].name;
                                    var spotTextName=document.createElement("spotTextName");
                                    spotTextName.textContent=spotTexts;

                                    spotImageText.appendChild(spotTextName);

                                    // spotTextMrtCat
                                    var spotTextMrtCat=document.createElement("spotTextMrtCat");

                                    var spotTextMrts=spotData.data[displayQuantity].mrt;
                                    var spotTextMrt=document.createElement("spotTextMrt");
                                    spotTextMrt.textContent=spotTextMrts;
                                    spotTextMrtCat.appendChild(spotTextMrt);

                                    var spotTextCats=spotData.data[displayQuantity].category;
                                    var spotTextCat=document.createElement("spotTextCat");
                                    spotTextCat.textContent=spotTextCats;
                                    spotTextMrtCat.appendChild(spotTextCat);

                                    spotImageText.appendChild(spotTextMrtCat);
                                };     
                                console.log(data.nextPage);
                                // if (page >= data.nextPage){
                                //     observer.disconnect(spotFooter);
                                // };
                            };
                            resetSpot.send();
                        })
                    }, options);
                    observer.observe(spotFooter);
                });
            });
        };
        
        // InfiniteScroll
        var observer=new IntersectionObserver(function(entries, observer){
            entries.forEach(entry => {
                // console.log(entry.isIntersecting);
                if (entry.isIntersecting == true){
                    var spots=new XMLHttpRequest();
                    page++;
                    spots.open("GET","/api/attractions?page="+String(page),true);
                    spots.onload=function(){
                        spotData=JSON.parse(spots.responseText);
                        for (var displayQuantity=0; displayQuantity<12; displayQuantity++){
                            var spotImageText=document.createElement("spotImageText");

                            // spotImage
                            var spotImageFigure=document.createElement("spotImageFigure")
                            var spotImages=spotData.data[displayQuantity].images[0];
                            var spotImage=document.createElement("img");
                            spotImage.setAttribute("src", spotImages);

                            document.getElementsByClassName("wrapSpotContent")[0].appendChild(spotImageText).appendChild(spotImageFigure).appendChild(spotImage);

                            // spotTextName
                            var spotTexts=spotData.data[displayQuantity].name;
                            var spotTextName=document.createElement("spotTextName");
                            spotTextName.textContent=spotTexts;

                            spotImageText.appendChild(spotTextName);

                            // spotTextMrtCat
                            var spotTextMrtCat=document.createElement("spotTextMrtCat");

                            var spotTextMrts=spotData.data[displayQuantity].mrt;
                            var spotTextMrt=document.createElement("spotTextMrt");
                            spotTextMrt.textContent=spotTextMrts;
                            spotTextMrtCat.appendChild(spotTextMrt);

                            var spotTextCats=spotData.data[displayQuantity].category;
                            var spotTextCat=document.createElement("spotTextCat");
                            spotTextCat.textContent=spotTextCats;
                            spotTextMrtCat.appendChild(spotTextCat);

                            spotImageText.appendChild(spotTextMrtCat);
                        };
                        if (page > spotData.nextPage){
                            observer.disconnect(spotFooter);
                        };
                        console.log(page);
                        console.log(spotData);
                    };
                    spots.send();
                };
            });
        }, options);
        observer.observe(spotFooter);
    </script>
</body>
</html>